<div class="card">
  <div class="card-header"></div>
  <div class="card-body">

    <table class="table table-striped table-hover ">
      <thead>
      <th>id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Mail</th>
      <th>Cin</th>
      <th>Address</th>
      <th>Numero de telephone</th>
      <th>Photos</th>
      <th>Profession</th>
      <th>Birthday</th>
      <th>description</th>
      <th>ville</th>


      </thead>
      <tbody>
      <tr *ngFor="let c of candidats,index as i">
        <td>{{c.id}}</td>
        <td>{{c.nom}}</td>
        <td>{{c.prenom}}</td>
        <td>{{c.mail}}</td>
        <td>{{c.cin}}</td>
        <td>{{c.address}}</td>
        <td>{{c.numtelephone}}</td>
        <td>{{c.photos}}</td>
        <td>{{c.profession}}</td>
        <td>{{c.birthday}}</td>
        <td>{{c.description}}</td>
        <td><span (click)="delete(i)"><i class="fa fa-trash btn btn-danger"></i></span></td>
        <td><span (click)="edit(i,c)"><i class="fa fa-edit btn btn-warning"></i></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer"></div>
</div>


