<div class="card">
  <div class="card-header">ajouter</div>
  <div class="card-body">
    <div class="form-group">
      <label >Nom</label><input type="text" class="form-control" [(ngModel)]="candidat.nom">
      <label >Prenom</label><input type="text" class="form-control" [(ngModel)]="candidat.prenom">
      <label>mail</label><input type="text" class="form-control" [(ngModel)]="candidat.mail">
      <label>cin</label><input type="text" class="form-control" [(ngModel)]="candidat.cin">
      <label>address</label><input type="text" class="form-control" [(ngModel)]="candidat.address">
      <label>numero de telephone</label><input type="text" class="form-control" [(ngModel)]="candidat.numtelephone">
      <label>photos</label><input type="text" class="form-control" [(ngModel)]="candidat.photos">
      <label>Profession</label><input type="text" class="form-control" [(ngModel)]="candidat.profession">
      <label>birthda</label>y<input type="text" class="form-control" [(ngModel)]="candidat.bithday">
      <label>description</label><input type="text" class="form-control" [(ngModel)]="candidat.description">
    </div>
  </div>
  <div class="card-footer">
    <button (click)="save()" class="btn-block btn-outline-primary">submit</button>
  </div>
</div>
