<div class="container" style="display: none">
  <div class="card">
    <div class="card-header"><h3>ajouter une ville</h3></div>
    <div class="card-body">
      <div class="form-group">
        <label>nom</label><input type="text" class="form-control" [(ngModel)]="ville.nom">
        <label>Code Postal</label><input type="number" class="form-control" [(ngModel)]="ville.codePostal">
      </div>
      <div class="card col-md-11 ml-5">
        <div class="card-header"><h3>ajouter un candidat</h3></div>
        <div class="card-body">
          <div class="form-group">
            <label>nom</label><input type="text" class="form-control" [(ngModel)]="candidat.nom">
            <label>prenom</label><input type="text" class="form-control" [(ngModel)]="candidat.prenom">
            <label>profession</label><input type="text" class="form-control" [(ngModel)]="candidat.profession">
            <label>mail</label><input type="text" class="form-control" [(ngModel)]="candidat.mail">
            <label>description</label><input type="text" class="form-control" [(ngModel)]="candidat.description">
            <label>address</label><input type="text" class="form-control" [(ngModel)]="candidat.address">
            <label>numero de telephone</label><input type="text" class="form-control"
                                                     [(ngModel)]="candidat.numtelephone">
            <label>cin</label><input type="text" class="form-control" [(ngModel)]="candidat.cin">
            <label>photos</label><input type="file" class="form-control" [(ngModel)]="candidat.photos">
            <label>birthday</label><input type="text" class="form-control" [(ngModel)]="candidat.bithday">
          </div>
        </div>
        <div class="card-footer">
          <button class="btn-block btn-outline-primary" (click)="addCandidat()">add a candidat</button>
        </div>
      </div>
      <div class="card">
        <div class="card-header">added candidats</div>
        <div class="card-body">
          <table class="table table-striped table-hover ">
            <thead>

            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th>Cin</th>
            <th>Address</th>
            <th>Numero de telephone</th>
            <th>Photos</th>
            <th>Profession</th>
            <th>Birthday</th>
            <th>description</th>
            </thead>
            <tbody>
            <tr *ngFor="let c of ville.candidats ">
              <td>{{c.nom}}</td>
              <td>{{c.prenom}}</td>
              <td>{{c.mail}}</td>
              <td>{{c.cin}}</td>
              <td>{{c.address}}</td>
              <td>{{c.numtelephone}}</td>
              <td>{{c.photos}}</td>
              <td>{{c.profession}}</td>
              <td>{{c.bithday}}</td>
              <td>{{c.description}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn-block btn-outline-primary" (click)="save()" [disabled]="!validate()">submit</button>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg" style="background-color: aqua;width: 100%" >
<a class="navbar-brand" style=font-weight:bold>sales pilot </a>
<form class="form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn"><i class="fa fa-search"></i></button>
  <button class="btn btn-link btn-outline-primary" (click)="showNotificationDetail()"><i class="fa fa-bell"><span class="badge badge-pill badge-warning" style="float:right;margin-bottom:-15px;margin-right:-10px;font-size: 10px">2</span></i></button>
  <button class="btn btn-link btn-outline-primary"><i class="fa fa-gears"></i></button>
  <i class="fa fa-user-circle fa-2x"></i>
  <span class="navbar-text">user user</span>
  <!--<button class="btn btn-link btn-outline-primary"><i class="fa fa-plus"></i></button> -->
</form>
</nav>
<div class="container" style="float: left;width: max-content">
  <div class="wrapper" style="background-color: lightblue;">
    <div class="item" style="position: relative">
      <span class="text">developpment d'une application web</span>
      <button class="btn" (click)="showDetailTask()"><i class="fa fa-bars" ></i></button>
    </div>
    <div class="item">
      <span class="text">seo pour entreprise xxx</span>
      <button class="btn"><i class="fa fa-bars"></i></button>
    </div>
  </div>
</div>
<div class="container" id="task-display" style="display: none">
  <div class="card">
    <div class="card-header"><div class="row"><div class="col-11"><p style="font-family: 'Arial Black'">detail de la tache </p></div>
      <div class="col-1"><button class="btn" (click)="closeTask()"><i class="fa fa-close"></i></button></div></div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">nom :</div>
        <div class="col-6">tache1 </div>
      </div>
      <div class="row">
        <div class="col-6">description :</div>
        <div class="col-6">tache tache tache </div>
      </div>
      <div class="row">
        <div class="col-6">date de debut :</div>
        <div class="col-6">12-10-2012 </div>
      </div>
      <div class="row">
        <div class="col-6">date de fin :</div>
        <div class="col-6">12-12-2012 </div>
      </div>
      <div class="row">
        <div class="col-6">etat de la tache:</div>
        <div class="col-6">completed</div>
      </div>
      <div class="row">
        <div class="col"><button class="btn-outline-primary">marquer la tache comme complet</button></div>
      </div>
    </div>
</div>
</div>
<div class="container" id="notification-display" style="display: none">
  <button class="btn btn-dark" (click)="closeNotificationDetail()" ><i class="fa fa-window-close"></i></button>
  <div class="row">
    <div class="col-md-1 padding-0">user user :</div>
    <div class="col-md-4 padding-0">objet of notification cbdgxvdfhrtj </div>
    <div class="col-md-7"></div>
  </div>
  <div class="row">
    mdgnldrenglet rshnethnerinrehoitnhietjyetopyjes(opyjeropyjepye(
  </div>
  <div class="row">
    <div class="col-md-1 padding-0">user user2:</div>
    <div class="col-md-4 padding-0">objet of notification2 cbdgxvdfhrtj </div>
    <div class="col-md-7"></div>
  </div>
  <div class="row">
    info about somethingsbdfngtjjjjyjtyktktukuk
  </div>
</div>


