<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: cornflowerblue ;width: 100%;margin: 0px;padding: 0px" >
  <!-- Container wrapper -->
  <div class="container-fluid"> <img src="assets/salesPilot/salesPilot.png"  width="60" height="60" >
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
     <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <p style="font-weight:bold; color: yellow" >sales pilot</p>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="chef" routerLink="chef-management" routerLinkActive="active">chefs des projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="responsable" routerLink="responsable-management" routerLinkActive="active">Responsables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="employes" routerLink="employe-management" routerLinkActive="active">Employés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="clients" routerLink="client-management" routerLinkActive="active">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="utilisateurs" routerLink="user-management" routerLinkActive="active">Utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="administrateurs" routerLink="admin-management" routerLinkActive="active">administrateurs</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <div class="d-flex align-items-center">
      <p><button class="btn " style="padding-right: 10px; color: yellow"><i class="fa fa-user-circle fa-2x"><span class="btn" style="font-weight: bold ; color: yellow">Admin</span></i></button></p>
    </div>
   </div>
  <!-- Container wrapper -->
</nav>

<!-- Navbar -->
